# Игнорировать все файлы в папке 'node_modules'
node_modules/

# Игнорировать файл конфигурации секретов
.env

# Игнорировать папки IDE или текстового редактора
.vscode/
.idea/

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать папку с виртуальным окружением
venv/
